services:
  dev-postgres:
    image: postgres:16-alpine
    ports:
      - 5434:5432
    environment:
      - POSTGRES_USER=dev
      - POSTGRES_PASSWORD=dev
      - POSTGRES_DB=dev
    restart: always
    networks:
      - dev
  # app:
  #   build:
  #     context: ./
  #     dockerfile: "Dockerfile"
  #   restart: always
  #   ports:
  #     - 5173:5173
  #   volumes:
  #     - ./:/usr/server/
  #     - /usr/server/node_modules
  #   networks:
  #     - dev
networks:
  dev:
